
    



<!--<div class="container-fluid position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light picture">-->
<!--  <div class="col-md-5 p-lg-5 mx-auto my-5">-->

<div class="container-fluid position-relative overflow-hidden p-md-5 text-center picture" style="height:92vh;">
  <div class="col-md-5 p-lg-5 mx-auto">
    <h1 class="display-4 font-weight-normal">Room Spot</h1>
    <p class="lead font-weight-normal">All the AirBnB on One Search</p>
    
    <form>
        <div class="form-group">
          <input type="location" class="form-control" style="background-color: rgba(255, 255, 255, 0.5)" id="exampleCity1" aria-describedby="emailHelp" placeholder="Enter City">
          <input type="location" class="form-control" style="background-color: rgba(255, 255, 255, 0.5)" id="exampleState1" aria-describedby="emailHelp" placeholder="Enter State">
          <input type="location" class="form-control" style="background-color: rgba(255, 255, 255, 0.5)" id="exampleZipCode1" aria-describedby="emailHelp" placeholder="Enter Zip Code">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <img src="https://www.perryhomes.com/content/_gallery/homes/photos/321torreybloomloop_w1060_h596.jpg" alt="Design 2935W-E51 321 torrey bloom loop" class="img-responsive" style="width:100%;">
    </div>
    <div class="col-6">
      <h3>A home away from home</h3>
      <p>Why stay in a stuffy, mold filled, bedbug infested motel when you travel? With room-spot you can find an abundant amount of comfortabe, luxurous rooms for a fraction of the price.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h3>Find the best rates for any homeshare</h3>
      It only makes since to keep you money in your pocket for sight seeing rather than tied up in a room with 4 walls.
    </div>
    <div class="col-6">
      
      <p><img src="https://media2.giphy.com/media/NsGyG45DqQNu4IeT4u/200.webp?cid=790b761174fab8b74cace840cc105733d67468b5847d0e60&rid=200.webp" alt="Design 2935W-E51 321 torrey bloom loop" class="img-responsive" style="width:100%;" >
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
     <p><img src="https://img.theculturetrip.com/1024x574/smart/wp-content/uploads/2016/05/gf70r2-1.jpg" alt="Design 2935W-E51 321 torrey bloom loop" class="img-responsive" style="width:100%;">
    </div>
    <div class="col-6">
      <h3>Room-spot it your one stop shop for homesharing.</h3>
      <p>No more need to search multiple websites when you can go to room-spot and find all the room from all the sites in one place.</p>
    </div>
  </div>
</div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h3>For the overnighter to the long hauler</h3>
      whether you are in town for the night or plan on staying a while, room-spot has got you covered.
    </div>
    <div class="col-6">
      <p><img src="https://www.hostkeep.com.au/wp-content/uploads/2013/09/benefits_of_shortstay.jpg" alt="Design 2935W-E51 321 torrey bloom loop" class="img-responsive" style="width:100%;">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    
    
    
    
  </div>
</div>
</body>
<footer class="container py-2" style="margin-left: 0rem;">
  <div class="row">
    <div class="col-12 col-md">
      <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>-->
      <small class="d-block mb-3 text-muted">© 2017-2019</small>
    </div>
    <div class="col-6 col-md">
      <h5></h5>
      <ul class="list-unstyled text-small">
        
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5></h5>
      <ul class="list-unstyled text-small">
        </ul>
    </div>
    <div class="col-6 col-md">
      <h5></h5>
      <ul class="list-unstyled text-small">
        
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5></h5>
      <ul class="list-unstyled text-small">
        
      </ul>
    </div>
  </div>
</footer>