<div class="container-fluid">
  <div class="row" style="height:92vh;background-color:AliceBlue;">
    <div class="col-2">
    </div>
    
      <div class="col-8" >
        <div class="row align-items-start h-25"></div>
        <div class="row align-items-center" style="border: 1px solid rgba(86, 61, 124, .2);background-color:Beige;">
          
          <div class="col-3 h-100 w-100" style="padding: 15px;">
          <img src="https://media.licdn.com/dms/image/C5603AQGDlGypJ64ekg/profile-displayphoto-shrink_200_200/0?e=1580342400&v=beta&t=UdqA46Ty_GZYDyQhio6XyzRR1ZF7Uo0cDecBoqFgyy0" class="w-100">
          </div>
          
          <div class="col-9 h-100 w-100" style="padding: 15px;">
            <h3> Hello, I am Dylan, Nice to meet you!</h3>
            
            I was an aspiring student at C.T. Bauer College of Business who planned to graduate in the Fall of 2018. The plan was simple. Go to college, graduate as an accountant,and find a nine to five. That all changed when I was introduced to the world of coding. Over the next year, I extended my education to include a minor in Management Information Systems and dedicated my time to learning the craft. The cultivation of my knowledge led to the birth of RoomSpot, the first Airbnb aggregator. 
            <br> <a href="https://www.linkedin.com/in/dylanlucnguyen/">https://www.linkedin.com/in/dylanlucnguyen/</a>
          </div>
          
        </div>
        
      
    <div class="col-2">
    </div>
  </div>
</div>
  
