<div class="container">
  <div class="row">
    <div class="col-3 themed-grid-col">
      <img src="https://media.licdn.com/dms/image/C5603AQGDlGypJ64ekg/profile-displayphoto-shrink_200_200/0?e=1580342400&v=beta&t=UdqA46Ty_GZYDyQhio6XyzRR1ZF7Uo0cDecBoqFgyy0">
      
    </div>
    <div class="col-6 themed-grid-col">
      <h2> About Me</h2>
      <br>
      <h3> Hello, I am Dylan, Nice to meet you!</h3>
      <br>
      I was an aspiring student at C.T. Bauer College of Business who planned to graduate in the Fall of 2018. The plan was simple. Go to college, graduate as an accountant,and find a nine to five. That all changed when I was introduced to the world of coding. Over the next year, I extended my education to include a minor in Management Information Systems and dedicated my time to learning the craft. Today I am proud to say my efforts served as the foundation for this project of mine. RoomSpot. Hopefully, this serves as a stepping stone towards a career path I truly enjoy. 
    </div>
    <div class="col-3 themed-grid-col">
    </div>
  </div>
</div>
  
