<!doctype html>
<html lang="en">
  <head>
    
  </head>
  
  <body>
    <div class="container-fluid" style="height: 1000px">
  
  <div class="row h-100">
    <div class="col-2 themed-grid-col">
      
      <form>
        <div class="form-group">
          <label for="Search">Search</label>
          <input type="location" class="form-control" id="exampleCity1" aria-describedby="emailHelp" placeholder="Enter City">
          <input type="location" class="form-control" id="exampleState1" aria-describedby="emailHelp" placeholder="Enter State">
          <input type="location" class="form-control" id="exampleZipCode1" aria-describedby="emailHelp" placeholder="Enter Zip Code">
      
          <small id="locationHelp" class="form-text text-muted">Where are you looking to book a place</small>
        </div>
      <div class="row">
        <div class="col">
        <p>
          <a class="btn btn-dark" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Advanced Search</a>
        </p>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body" style="background-color: transparent; border: none;">
                  
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Room Type
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <button class="dropdown-item" type="button">Private Room in Appartment</button>
                      <button class="dropdown-item" type="button">Private Room in House</button>
                      <button class="dropdown-item" type="button">Entire Appartment</button>
                      <button class="dropdown-item" type="button">Entire Condominium</button>
                      <button class="dropdown-item" type="button">Guest House</button>
                      <button class="dropdown-item" type="button">Room in Hostel</button>
                      <button class="dropdown-item" type="button">Shared Room in Hostel</button>
                    </div>
                  </div>
                  
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Amenities
                  </button>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Wifi</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Pools</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">Parking</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                        <label class="form-check-label" for="inlineCheckbox3">Air Conditioning</label>
                      </div>
                    </div>
                  </div>
                
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                    Guest amount
                  </button>
                  <div class="collapse" id="collapseExample1">
                    <div class="card card-body">
                      
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">2</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">3</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                        <label class="form-check-label" for="inlineCheckbox3">4</label>
                      </div>
                    </div>
                  </div>
                  
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                    Number of Beds
                  </button>
                  <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                      
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">2</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">3</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                        <label class="form-check-label" for="inlineCheckbox3">4</label>
                      </div>
                    </div>
                  </div>
                  
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                    Number of Bedrooms
                  </button>
                  <div class="collapse" id="collapseExample3">
                    <div class="card card-body">
                      
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">2</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">3</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                        <label class="form-check-label" for="inlineCheckbox3">4</label>
                      </div>
                    </div>
                  </div>
                  
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
                    Restroom Count
                  </button>
                  <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                      
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">2</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">3</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                        <label class="form-check-label" for="inlineCheckbox3">4</label>
                      </div>
                    </div>
                  </div>
                    
                </div>
              </div>
            </div>
          </div>
        <button type="submit" class="btn btn-success w-100">Submit</button>
        </div></div>
      </form>
      
    </div>
    <div class="col-8 themed-grid-col">
      
      
      <div class="row">
        <div class="col-3 themed-grid-col" style="height: 170px"><img src= images[rand(4)] class="w-100"></img></div> <div class="col-9 themed-grid-col" style="height: 170px"> Put text here</div>
          
      </div>
      
    </div>
    <div class="col-2 themed-grid-col">
      <img src="https://compote.slate.com/images/ff47615b-f476-4479-af98-add0a5255c80.jpeg" class="w-100" >
    </div>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>