<nav class="navbar navbar-dark bg-primary fixed-top" style="height:8vh;">
  <div class="container-fluid" style="margin-right: 0px; margin-left: 0px;">
    <div class="row w-100">
      
        <h3>
          <div class="col-1">
          <a class="navbar-brand" style="margin-right: 2rem;" href="/">RoomSpot</a>
          </div>
        </h3>
        <div class="col-1">
         <%= link_to "Search", airbnbs_path, class:"navbar-brand", style:"margin-right: 0rem;" %>
        </div>
        <div class="col-1">
         <%= link_to "About", statics_path, class:"navbar-brand", style:"margin-right: 0rem;" %>
        </div>
        <div class="col-7">
          
        </div>
        <div class="col-1">
        <% if user_signed_in? %>
      
        <%= link_to('Logout', destroy_user_session_path, method: :delete, id:"logout", class: "navbar-brand", style:"margin-right: 0rem;") %>        
        
        <% else %>
        
        <%= link_to('Login', new_user_session_path,id:"logout", class: "navbar-brand", style:"margin-right: 0rem;") %>  
        
        <% end %>
        </div>
      
    </div>
  </div>
  
</nav>